<div style="text-align:center;">
	<div style="display:inline-block;text-align:left;">
		<div id="<%= @dom_id + '_form' %>" class="popup_form" style="display:none;">
			<p>[Nothing selected]</p>
		</div>
		<div id="<%= @dom_id + '_list' %>">
			<%= rendered_children[@dom_id + '_list'] %>
		</div>
	</div>
</div>