<div style="text-align:center;">
	<div style="display:inline-block;text-align:left;">
		<div id="<%= @dom_id + '_form' %>" class="popup_form" style="display:none;">
			<p>[Nothing selected]</p>
		</div>
	</div>
</div>
<%= javascript_tag after_js %>