<div style="text-align:center;">
	<div style="display:inline-block;text-align:left;">
		<div id="<%= @container + '_form' %>" class="popup_form" style="display:none;">
			<%= rendered_children[@container + '_form'] %>
		</div>
		<div id="<%= @container + '_list' %>">
			<%= rendered_children[@container + '_list'] %>
		</div>
	</div>
</div>