<div style="text-align:center;">
	<div style="display:inline-block;text-align:left;">
		<div id="<%= controller.dom_id %>_form" class="popup_form" style="display:none;">
			<p>[Nothing selected]</p>
		</div>
		<%= render_widget controller.list_widget %>
	</div>
</div>