<table class="edit_table">
	<tr>
		<td>Identifier</td>
		<td><%= text_field_tag 'record[identifier]', @record.identifier %></td>
		<td>Subject</td>
		<td><%= text_field_tag 'record[subject]', @record.subject %></td>
	</tr>
</table>
<table class="edit_table">
<tr>
	<td>Body</td>
	<td><%= text_area_tag 'record[body]', @record.body %></td>
</tr>
</table>
