<table class="edit_table">
	<tr>
		<td>Name</td>
		<td><%= text_field_tag 'record[name]', @record.name %></td>
	</tr>
	<tr>
		<td>Code</td>
		<td><%= text_field_tag 'record[code]', @record.code %></td>
	</tr>
</table>
