	<div id="<%= controller.dom_id %>_flash_alert" class="flash_alert flash_pulse">
		<%= raw @alert %>
	</div>
	<div id="<%= controller.dom_id %>_flash_notice" class="flash_notice flash_pulse">
		<%= raw @notice %>
	</div>
